<% include header %>

<div ng-app="socialBoard" ng-controller="MainController">
  <div><input type="text" ng-model="q" class="form-control" placeholder="Search..."/></div>
  <div class="media tweeter" ng-repeat="tweeter in tweeters | orderBy: '-weight' | filter:q">
    <div class="media-left">
      <a href="http://twitter.com/{{tweeter.screen_name}}">
        <img class="media-object" src="{{ tweeter.url }}" alt="{{tweeter.screen_name}}" />
      </a>
    </div>
    <div class="media-body">
      <a href="http://twitter.com/{{tweeter.screen_name}}"><h4 class="media-heading">@{{tweeter.screen_name}}</h4></a>
      <div ng-show="tweeter.loading">
        <i class="fa fa-spin fa-spinner"></i>
      </div>
      <div ng-hide="tweeter.loading">
        <span class="badge"><i class="fa fa-twitter"></i> {{tweeter.tweets}}</span>
        <span class="badge"><i class="fa fa-retweet"></i> {{tweeter.retweets}}</span>
        <span class="badge"><i class="fa fa-star"></i> {{tweeter.favorites}}</span>
        <span class="badge success"><i class="fa fa-sort-amount-desc"></i> {{tweeter.weight}}</span>
      </div>
    </div>
  </div>
</div>

<% include footer %>
