a {
 color: #00B7FF ;
}

a:focus, a:hover {
 text-decoration: none;
}

.tweeter {
 border: solid thin #bbb;
 margin: 0.5em;
 width: 365px
 float: left;
 border-radius: 10px;
 box-shadow: 1px 1px 5px #aaa;
}

.media-body {
 padding: 10px;
}

.screen-name {
 margin-bottom: 1em;
}

body {
 padding: 50px;
 font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
 font-size: 2.5vmin;
}

.badge {
 font-size: 1.9vmin;
 background: rgba(0,0,0,.15)
}

.fa-twitter {
 color: #55acee ;
}

.fa-retweet {
 color: #5C913B ;
}

.fa-star {
 color: #FFAC33 ;
}

.fa-sort-amount-desc {
 color: #bbb;
}

.alert {
 font-size: 0.5em;
}